n8n/13-tnai-brief.json
{
 "name": "TN Brain \u00b7 13 \u00b7 tnAI Brief (Mondays 07:50 + on-demand)",
 "nodes": [
  {
   "parameters": {
    "rule": {
     "interval": [
      {
       "field": "cronExpression",
       "expression": "50 7 * * 1"
      }
     ]
    }
   },
   "id": "tb_sched",
   "name": "Mondays 07:50",
   "type": "n8n-nodes-base.scheduleTrigger",
   "typeVersion": 1.2,
   "position": [
    180,
    200
   ]
  },
  {
   "parameters": {},
   "id": "tb_manual",
   "name": "Run",
   "type": "n8n-nodes-base.manualTrigger",
   "typeVersion": 1,
   "position": [
    180,
    380
   ]
  },
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "tnai-brief-x7k2m9",
    "responseMode": "responseNode",
    "options": {}
   },
   "id": "tb_hook",
   "name": "On-demand (dashboard toggle)",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    180,
    560
   ],
   "webhookId": "tb-brief-hook"
  },
  {
   "parameters": {
    "jsCode": "const src=($json.body&&typeof $json.body==='object')?$json.body:($json.query||$json||{});\nconst raw=src.days!=null?src.days:7;\nconst days=Math.min(60,Math.max(1,parseInt(raw,10)||7));\nreturn [{json:{days}}];"
   },
   "id": "tb_norm",
   "name": "Normalize input",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    420,
    380
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "=SELECT jsonb_build_object(\n 'window_days', {{ $json.days }},\n 'period_start', (now()::date - {{ $json.days }}),\n 'period_end', now()::date,\n 'signals_this_period', COALESCE((SELECT jsonb_agg(x.j) FROM (\n   SELECT jsonb_build_object(\n     'type', s.type, 'summary', left(s.summary, 220), 'quote', left(s.quote, 140),\n     'band', s.details->>'band', 'category', s.details->>'risk_category',\n     'networks', s.details->>'networks_total', 'value_mentioned', s.details->>'value',\n     'account', a.name, 'status', s.status, 'created', s.created_at::date) AS j\n   FROM signals s LEFT JOIN accounts a ON a.id = s.account_id\n   WHERE s.created_at > now() - interval '{{ $json.days }} days'\n   ORDER BY s.created_at DESC LIMIT 50) x), '[]'::jsonb),\n 'signal_counts_prev_period', COALESCE((SELECT jsonb_object_agg(t.type, t.n) FROM (\n     SELECT type, count(*) AS n FROM signals\n     WHERE created_at BETWEEN now() - interval '{{ $json.days * 2 }} days' AND now() - interval '{{ $json.days }} days'\n     GROUP BY type) t), '{}'::jsonb),\n 'unresolved_risks', COALESCE((SELECT jsonb_agg(jsonb_build_object(\n     'summary', s.summary, 'account', a.name, 'band', s.details->>'band',\n     'age_days', (now()::date - s.created_at::date)))\n   FROM (SELECT * FROM signals\n     WHERE type = 'risk' AND status IN ('new','routed') AND created_at < now() - interval '14 days'\n     ORDER BY created_at ASC LIMIT 15) s LEFT JOIN accounts a ON a.id = s.account_id), '[]'::jsonb),\n 'recurring_themes', COALESCE((SELECT jsonb_agg(jsonb_build_object('account', x.account, 'category', x.category, 'times', x.n)) FROM (\n     SELECT a.name AS account, s.details->>'risk_category' AS category, count(*) AS n\n     FROM signals s JOIN accounts a ON a.id = s.account_id\n     WHERE s.type = 'risk' AND s.created_at > now() - interval '{{ $json.days * 2 }} days' AND s.details->>'risk_category' IS NOT NULL\n     GROUP BY a.name, s.details->>'risk_category' HAVING count(*) >= 2) x), '[]'::jsonb),\n 'calls_per_account', COALESCE((SELECT jsonb_agg(jsonb_build_object('account', x.account, 'this_period', x.tw, 'prev_period', x.pw)) FROM (\n     SELECT a.name AS account,\n            count(*) FILTER (WHERE c.call_date > now() - interval '{{ $json.days }} days') AS tw,\n            count(*) FILTER (WHERE c.call_date BETWEEN now() - interval '{{ $json.days * 2 }} days' AND now() - interval '{{ $json.days }} days') AS pw\n     FROM calls c JOIN accounts a ON a.id = c.account_id\n     WHERE c.call_date > now() - interval '{{ $json.days * 2 }} days' GROUP BY a.name) x), '[]'::jsonb),\n 'weekly_report_rags', COALESCE((SELECT jsonb_agg(jsonb_build_object(\n     'project', w.project_title, 'account', w.account_name, 'rag', w.rag))\n   FROM (SELECT * FROM weekly_reports WHERE week_ending > now() - interval '{{ $json.days + 3 }} days'\n     ORDER BY week_ending DESC LIMIT 25) w), '[]'::jsonb),\n 'open_pipeline', (SELECT jsonb_build_object('deals', count(*), 'value', COALESCE(sum(amount),0)) FROM deals WHERE is_open),\n 'top_open_deals', COALESCE((SELECT jsonb_agg(x.j) FROM (\n   SELECT jsonb_build_object('account', a.name, 'deal', left(d.name, 80), 'value', d.amount, 'stage', d.stage) AS j\n   FROM deals d LEFT JOIN accounts a ON a.id = d.account_id\n   WHERE d.is_open ORDER BY d.amount DESC NULLS LAST LIMIT 12) x), '[]'::jsonb)\n) AS ctx;",
    "options": {}
   },
   "id": "tb_gather",
   "name": "Gather the period",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    640,
    380
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "const ctx=$json.ctx;\nconst days=$('Normalize input').first().json.days;\nconst rules='You are tnAI, the weekly analyst for the Managing Director of Tecknuovo, a UK digital-delivery consultancy. This brief covers THE LAST '+days+' DAYS. The dashboard BELOW your brief already shows the detail: per-account risk stories, potential risks forming, and opportunity heat. YOUR BRIEF IS THE EXECUTIVE SUMMARY OF THAT PICTURE - what she absorbs in thirty seconds before deciding where to scroll. PERSPECTIVE: she thinks zoomed out; never day-to-day detail; always name accounts; compare with the previous '+days+'-day period where the data allows. SECTION RULES: whats_happening = a 1-2 sentence overview that states a VERDICT with at least one number (e.g. how many accounts are healthy vs at risk, or the biggest movement of the period) - BANNED openers: \\'a mix of risks and opportunities\\', \\'notable progress\\', or any sentence that could describe any week at any company. points = an ARRAY of 3-5 strings, one specific insight each: the macro risk picture with accounts named, emerging concerns with a clause on WHY each matters, AND where the commercial energy is gathering. BALANCE RULE: if there are opportunity signals or open deals in the data, at least ONE point MUST be about the commercial upside, naming the account and the money (use top_open_deals). A brief that only talks about risk is a FAILED brief - she runs a business, not a risk register. Every point must carry an account name, a number or a movement - never a platitude. Do NOT recite call volumes or activity counts - use a number only when it changes the meaning (money, the age of an unresolved risk, a big swing). why = 2-3 sentences on the pattern behind the period, stated as CAUSAL claims naming accounts (X is happening because Y, seen at A and B). BANNED: abstract filler like \\'highlights the interconnected nature of\\' or \\'underscores the importance of\\'. accounts = an ARRAY of 3-6 objects, one per account that MATTERED this period, most important first - and NOT only troubled ones: include at least one account whose story this period is opportunity or momentum (a big open deal moving, opportunity signals landing) whenever the data has one: {\"name\": the account name exactly as it appears in the data, \"update\": 2-3 sentences on what actually happened there this period, \"why\": 1-2 sentences on WHY it matters or what is driving it, stated as a causal claim - this is the reasoning that sits directly under that account, \"actions\": 0-2 short imperative suggested actions for leadership (empty array if none)}. The update and why must carry NEW information, not restate the macro points. needs_you = at most 3 items that GENUINELY need a managing director: critical risks, account/relationship risks, anything unresolved 14+ days (state its age in days). For NEW risks say \\'new this week\\' instead of quoting an age of zero, or a commercial move worth her weight. Empty array if nothing qualifies - never pad. STYLE: plain UK business English, no jargon, no flattery, no hedging. Never use em dashes; use commas or hyphens. Return ONLY JSON: {\"whats_happening\":\"the 1-2 sentence overview\",\"points\":[\"...\"],\"why\":\"...\",\"accounts\":[{\"name\":\"...\",\"update\":\"...\",\"why\":\"...\",\"actions\":[\"...\"]}],\"needs_you\":[\"...\"]}';\nconst prompt=rules+'\\n\\nTHE DATA (past '+days+' days unless stated):\\n'+JSON.stringify(ctx);\nreturn [{json:{prompt}}];"
   },
   "id": "tb_prompt",
   "name": "Build prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    860,
    380
   ]
  },
  {
   "parameters": {
    "promptType": "define",
    "text": "={{ $json.prompt }}",
    "messages": {},
    "batching": {}
   },
   "id": "tb_chain",
   "name": "Write brief (Azure)",
   "type": "@n8n/n8n-nodes-langchain.chainLlm",
   "typeVersion": 1.5,
   "position": [
    1080,
    380
   ],
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 5000
  },
  {
   "parameters": {
    "model": "gpt-4o-mini",
    "options": {
     "temperature": 0.3
    }
   },
   "id": "tb_model",
   "name": "Azure OpenAI Chat Model",
   "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
   "typeVersion": 1,
   "position": [
    1080,
    580
   ],
   "credentials": {
    "azureOpenAiApi": {
     "id": "W7KKkeJLvjngHgZA",
     "name": "Azure Open AI account"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "const raw=($json.text||$json.response||$json.output||'').trim();\nconst days=$('Normalize input').first().json.days;\nfunction parseModelJson(t){\n  const m=t.match(/\\{[\\s\\S]*\\}/); if(!m){return null;}\n  let s=m[0];\n  try{return JSON.parse(s);}catch(e){}\n  let out='',inStr=false,esc=false;\n  for(const ch of s){\n    if(esc){out+=ch;esc=false;continue;}\n    if(ch==='\\\\'){out+=ch;esc=true;continue;}\n    if(ch==='\"'){inStr=!inStr;out+=ch;continue;}\n    if(inStr&&ch==='\\n'){out+='\\\\n';continue;}\n    if(inStr&&ch==='\\r'){continue;}\n    if(inStr&&ch==='\\t'){out+='\\\\t';continue;}\n    out+=ch;\n  }\n  try{return JSON.parse(out);}catch(e){return null;}\n}\nconst obj=parseModelJson(raw);\nif(!obj){return [{json:{sql:\"SELECT 'model output could not be parsed' AS note\", parse_error:true, raw_head:raw.slice(0,300)}}];}\nconst arr=function(v,n){return Array.isArray(v)?v.slice(0,n).map(function(x){return String(x).slice(0,300)}):[]};\nconst points=Array.isArray(obj.points)?obj.points.slice(0,5).map(function(x){return String(x).slice(0,300)}):[];\nconst body=String(obj.whats_happening||'').slice(0,600)+(points.length?'\\n'+points.map(function(p){return '- '+p}).join('\\n'):'');\nconst accts=Array.isArray(obj.accounts)?obj.accounts.slice(0,6).map(function(a){return {\n name:String((a&&a.name)||'').slice(0,80),\n update:String((a&&a.update)||'').slice(0,700),\n why:String((a&&a.why)||'').slice(0,500),\n actions:Array.isArray(a&&a.actions)?a.actions.slice(0,2).map(function(x){return String(x).slice(0,250)}):[]\n};}).filter(function(a){return a.name&&a.update;}):[];\nconst out={\n whats_happening:body.slice(0,2000),\n why:String(obj.why||'').slice(0,1200),\n accounts:accts,\n watch_for:arr(obj.watch_for,3),\n needs_you:arr(obj.needs_you,3)\n};\nif(!out.whats_happening){return [{json:{sql:\"SELECT 'empty brief - not saved' AS note\", parse_error:true}}];}\nconst e=function(s){return String(s).replace(/'/g,\"''\")};\nconst sql=\"INSERT INTO briefs (audience,period_start,period_end,content) VALUES ('leadership', now()::date - \"+days+\", now()::date, '\"+e(JSON.stringify(out))+\"'::jsonb);\";\nreturn [{json:{sql,preview:out,days:days}}];"
   },
   "id": "tb_save_sql",
   "name": "Build save SQL",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1300,
    380
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "={{ $json.sql }}",
    "options": {}
   },
   "id": "tb_save",
   "name": "Save brief",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1520,
    380
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "respondWith": "json",
    "responseBody": "={{ JSON.stringify({ ok: true }) }}",
    "options": {}
   },
   "id": "tb_respond",
   "name": "Respond",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    1740,
    380
   ],
   "onError": "continueRegularOutput"
  },
  {
   "parameters": {
    "content": "## tnAI brief - weekly + on-demand per window\nMondays 07:50 writes the 7-day brief. The dashboard's 7/14/30-day toggle calls the webhook (POST /webhook/tnai-brief-x7k2m9 {days:N}) via the API, which regenerates the brief over that window and saves it (period length = the window, so each window caches separately).\n\nAPI needs env: N8N_BRIEF_WEBHOOK_URL=https://<this-n8n-host>/webhook/tnai-brief-x7k2m9\nWorkflow must be ACTIVE for the webhook to answer.",
    "height": 250,
    "width": 430
   },
   "id": "tb_note",
   "name": "How it works",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    140,
    -40
   ]
  }
 ],
 "connections": {
  "Mondays 07:50": {
   "main": [
    [
     {
      "node": "Normalize input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Run": {
   "main": [
    [
     {
      "node": "Normalize input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "On-demand (dashboard toggle)": {
   "main": [
    [
     {
      "node": "Normalize input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Normalize input": {
   "main": [
    [
     {
      "node": "Gather the period",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Gather the period": {
   "main": [
    [
     {
      "node": "Build prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build prompt": {
   "main": [
    [
     {
      "node": "Write brief (Azure)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write brief (Azure)": {
   "main": [
    [
     {
      "node": "Build save SQL",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build save SQL": {
   "main": [
    [
     {
      "node": "Save brief",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save brief": {
   "main": [
    [
     {
      "node": "Respond",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Azure OpenAI Chat Model": {
   "ai_languageModel": [
    [
     {
      "node": "Write brief (Azure)",
      "type": "ai_languageModel",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1"
 },
 "pinData": {}
}