n8n/13-tnai-brief.json
{
 "name": "TN Brain \u00b7 13 \u00b7 tnAI Brief (Mondays 07:50)",
 "nodes": [
  {
   "parameters": {
    "rule": {
     "interval": [
      {
       "field": "cronExpression",
       "expression": "50 7 * * 1"
      }
     ]
    }
   },
   "id": "tb_sched",
   "name": "Mondays 07:50",
   "type": "n8n-nodes-base.scheduleTrigger",
   "typeVersion": 1.2,
   "position": [
    220,
    260
   ]
  },
  {
   "parameters": {},
   "id": "tb_manual",
   "name": "Run",
   "type": "n8n-nodes-base.manualTrigger",
   "typeVersion": 1,
   "position": [
    220,
    460
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "SELECT jsonb_build_object(\n 'period_start', (now()::date - 7),\n 'period_end', now()::date,\n 'signals_this_week', COALESCE((SELECT jsonb_agg(jsonb_build_object(\n     'type', s.type, 'summary', s.summary, 'quote', left(s.quote, 200),\n     'band', s.details->>'band', 'category', s.details->>'risk_category',\n     'networks', s.details->>'networks_total', 'value_mentioned', s.details->>'value',\n     'account', a.name, 'status', s.status, 'created', s.created_at::date))\n   FROM signals s LEFT JOIN accounts a ON a.id = s.account_id\n   WHERE s.created_at > now() - interval '7 days'), '[]'::jsonb),\n 'signal_counts_prev_week', COALESCE((SELECT jsonb_object_agg(t.type, t.n) FROM (\n     SELECT type, count(*) AS n FROM signals\n     WHERE created_at BETWEEN now() - interval '14 days' AND now() - interval '7 days'\n     GROUP BY type) t), '{}'::jsonb),\n 'unresolved_risks', COALESCE((SELECT jsonb_agg(jsonb_build_object(\n     'summary', s.summary, 'account', a.name, 'band', s.details->>'band',\n     'age_days', (now()::date - s.created_at::date)))\n   FROM signals s LEFT JOIN accounts a ON a.id = s.account_id\n   WHERE s.type = 'risk' AND s.status IN ('new','routed') AND s.created_at < now() - interval '14 days'), '[]'::jsonb),\n 'recurring_themes', COALESCE((SELECT jsonb_agg(jsonb_build_object('account', x.account, 'category', x.category, 'times', x.n)) FROM (\n     SELECT a.name AS account, s.details->>'risk_category' AS category, count(*) AS n\n     FROM signals s JOIN accounts a ON a.id = s.account_id\n     WHERE s.type = 'risk' AND s.created_at > now() - interval '14 days' AND s.details->>'risk_category' IS NOT NULL\n     GROUP BY a.name, s.details->>'risk_category' HAVING count(*) >= 2) x), '[]'::jsonb),\n 'calls_per_account', COALESCE((SELECT jsonb_agg(jsonb_build_object('account', x.account, 'this_week', x.tw, 'prev_week', x.pw)) FROM (\n     SELECT a.name AS account,\n            count(*) FILTER (WHERE c.call_date > now() - interval '7 days') AS tw,\n            count(*) FILTER (WHERE c.call_date BETWEEN now() - interval '14 days' AND now() - interval '7 days') AS pw\n     FROM calls c JOIN accounts a ON a.id = c.account_id\n     WHERE c.call_date > now() - interval '14 days' GROUP BY a.name) x), '[]'::jsonb),\n 'weekly_report_rags', COALESCE((SELECT jsonb_agg(jsonb_build_object(\n     'project', w.project_title, 'account', w.account_name, 'rag', w.rag))\n   FROM weekly_reports w WHERE w.week_ending > now() - interval '10 days'), '[]'::jsonb),\n 'open_pipeline', (SELECT jsonb_build_object('deals', count(*), 'value', COALESCE(sum(amount),0)) FROM deals WHERE is_open)\n) AS ctx;",
    "options": {}
   },
   "id": "tb_gather",
   "name": "Gather the week",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    460,
    360
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "const ctx=$json.ctx;\nconst rules='You are tnAI, the weekly analyst for the Managing Director of Tecknuovo, a UK digital-delivery consultancy. You have analysed every client call, weekly delivery report and the CRM. Write HER weekly brief from the data below. PERSPECTIVE RULES: she thinks ZOOMED OUT - never mention routine day-to-day delivery detail; roll everything up into portfolio-level patterns. Always name accounts and amounts - vague statements are useless to her. Compare this week with last week where the data allows (signal_counts_prev_week, calls_per_account) - movement matters more than snapshots. SECTION RULES: whats_happening = a DETAILED, insight-dense analysis of 8-12 sentences (2 paragraphs separated by \\n\\n). NEVER pad with generic statements like \\'calls took place across accounts\\' - every sentence must carry a specific insight, number, account name or comparison on how the portfolio moved this week: call volume and where it concentrated, which accounts were active, what themes dominated the conversations, commercial movement, and how this compares with last week. why = a paragraph of 4-6 sentences on the pattern BEHIND the week - client-side or delivery-side causes, the thread connecting several accounts, direction of travel and what it means for the business. Write in full flowing prose, not clipped bullet fragments; each needs_you and watch_for item may be one to two full sentences. watch_for = up to 3 EARLY WARNINGS: things not yet formally escalated but trending - use recurring_themes (same risk category repeating on one account), calls_per_account (an account going quiet or suddenly heating up), and any risk in signals_this_week that looks like the start of something bigger. Each one sentence, naming the account and why it deserves watching. needs_you = at most 3 items that GENUINELY need a managing director: critical risks, account/relationship-level risks, anything in unresolved_risks (always mention its age in days - the system does not forget), or a commercial move worth her weight. If nothing qualifies return an empty array - a quiet week stated honestly builds trust; never pad. STYLE: plain UK business English, no jargon, no flattery, no hedging. Never use em dashes; use commas or hyphens. Return ONLY JSON: {\"whats_happening\":\"...\",\"why\":\"...\",\"watch_for\":[\"...\"],\"needs_you\":[\"...\"]}';\nconst prompt=rules+'\\n\\nTHE DATA (past 7 days unless stated):\\n'+JSON.stringify(ctx);\nreturn [{json:{prompt}}];"
   },
   "id": "tb_prompt",
   "name": "Build prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    680,
    360
   ]
  },
  {
   "parameters": {
    "promptType": "define",
    "text": "={{ $json.prompt }}",
    "messages": {},
    "batching": {}
   },
   "id": "tb_chain",
   "name": "Write brief (Azure)",
   "type": "@n8n/n8n-nodes-langchain.chainLlm",
   "typeVersion": 1.5,
   "position": [
    900,
    360
   ]
  },
  {
   "parameters": {
    "model": "gpt-4o-mini",
    "options": {
     "temperature": 0.3
    }
   },
   "id": "tb_model",
   "name": "Azure OpenAI Chat Model",
   "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
   "typeVersion": 1,
   "position": [
    900,
    560
   ],
   "credentials": {
    "azureOpenAiApi": {
     "id": "W7KKkeJLvjngHgZA",
     "name": "Azure Open AI account"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "const raw=($json.text||$json.response||$json.output||'').trim();\nconst m=raw.match(/\\{[\\s\\S]*\\}/); if(!m){return [];}\nlet obj; try{obj=JSON.parse(m[0]);}catch(e){return [];}\nconst arr=function(v,n){return Array.isArray(v)?v.slice(0,n).map(function(x){return String(x).slice(0,300)}):[]};\nconst out={\n whats_happening:String(obj.whats_happening||'').slice(0,1500),\n why:String(obj.why||'').slice(0,1200),\n watch_for:arr(obj.watch_for,3),\n needs_you:arr(obj.needs_you,3)\n};\nif(!out.whats_happening){return [];}\nconst e=function(s){return String(s).replace(/'/g,\"''\")};\nconst sql=\"INSERT INTO briefs (audience,period_start,period_end,content) VALUES ('leadership', now()::date-7, now()::date, '\"+e(JSON.stringify(out))+\"'::jsonb);\";\nreturn [{json:{sql,preview:out}}];"
   },
   "id": "tb_save_sql",
   "name": "Build save SQL",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1140,
    360
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "={{ $json.sql }}",
    "options": {}
   },
   "id": "tb_save",
   "name": "Save brief",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1360,
    360
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "content": "## tnAI weekly brief (Leadership OS)\nEvery Monday 07:50 (after recon 07:00, org sync 07:10, HubSpot 07:30): rolls up the past 7 days - signals with quotes, unresolved 14+ day risks, RAG mix, call volume, open pipeline - and writes the MD's three-section brief (what's happening / why / what needs you). Stored in `briefs`; the dashboard reads the latest via /api/brief.\n\n**Run the db/2026-07_leadership_os.sql migration first.** Manual 'Run' trigger = regenerate on demand.",
    "height": 250,
    "width": 420
   },
   "id": "tb_note",
   "name": "How it works",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    180,
    20
   ]
  }
 ],
 "connections": {
  "Mondays 07:50": {
   "main": [
    [
     {
      "node": "Gather the week",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Run": {
   "main": [
    [
     {
      "node": "Gather the week",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Gather the week": {
   "main": [
    [
     {
      "node": "Build prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build prompt": {
   "main": [
    [
     {
      "node": "Write brief (Azure)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Write brief (Azure)": {
   "main": [
    [
     {
      "node": "Build save SQL",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build save SQL": {
   "main": [
    [
     {
      "node": "Save brief",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Azure OpenAI Chat Model": {
   "ai_languageModel": [
    [
     {
      "node": "Write brief (Azure)",
      "type": "ai_languageModel",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1"
 },
 "pinData": {}
}