n8n/14-early-radar.json
{
 "name": "TN Brain \u00b7 14 \u00b7 Early Radar (Mondays 07:55)",
 "nodes": [
  {
   "parameters": {
    "rule": {
     "interval": [
      {
       "field": "cronExpression",
       "expression": "55 7 * * 1"
      }
     ]
    }
   },
   "id": "rad_sched",
   "name": "Mondays 07:55",
   "type": "n8n-nodes-base.scheduleTrigger",
   "typeVersion": 1.2,
   "position": [
    220,
    260
   ]
  },
  {
   "parameters": {},
   "id": "rad_manual",
   "name": "Run",
   "type": "n8n-nodes-base.manualTrigger",
   "typeVersion": 1,
   "position": [
    220,
    460
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "SELECT a.name AS account,\n (SELECT jsonb_agg(jsonb_build_object('title', c.title, 'date', c.call_date::date, 'transcript', left(c.transcript, 4500)))\n  FROM (SELECT * FROM calls c2 WHERE c2.account_id = a.id AND c2.call_date > now() - interval '7 days'\n        AND c2.transcript IS NOT NULL AND c2.transcript <> '' ORDER BY c2.call_date DESC LIMIT 2) c) AS calls,\n (SELECT jsonb_agg(s.summary) FROM signals s WHERE s.account_id = a.id AND s.type = 'risk'\n  AND s.created_at > now() - interval '14 days') AS already_flagged,\n (SELECT jsonb_agg(jsonb_build_object('project', w.project_title, 'rag', w.rag))\n  FROM weekly_reports w WHERE w.account_id = a.id AND w.week_ending > now() - interval '10 days') AS health_context\nFROM accounts a\nJOIN LATERAL (SELECT max(c3.call_date) AS mx FROM calls c3 WHERE c3.account_id = a.id) m ON true\nWHERE EXISTS (SELECT 1 FROM calls c4 WHERE c4.account_id = a.id AND c4.call_date > now() - interval '7 days'\n              AND c4.transcript IS NOT NULL AND c4.transcript <> '')\nORDER BY m.mx DESC LIMIT 6;",
    "options": {}
   },
   "id": "rad_gather",
   "name": "Gather transcripts",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    460,
    360
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "const rules='You are the early-warning radar for Tecknuovo, a UK digital-delivery consultancy. Below are this week\\'s RAW TRANSCRIPTS for ONE account, plus its weekly-report RAG and the risks ALREADY formally flagged. Your ONLY job: find EMERGING concerns NOT in already_flagged - things a sharp managing director would want on her radar BEFORE they become formal risks. Look for: hesitation or friction around budgets, renewals or contracts; client-side reorganisations, departures or new decision-makers; repeated small frustrations that add up; cooling tone or shrinking engagement from client stakeholders; dependencies on things outside our control. Judge from Tecknuovo\\'s perspective - a client-side issue matters only if it could affect our delivery, relationship or revenue. RULES: maximum 2 items for this account, each ONE sentence naming the account and why it deserves watching, each with a SHORT verbatim quote from the transcript as evidence (copy exactly, max 25 words). Do NOT repeat anything in already_flagged. If nothing genuine is emerging return {\"items\":[]} - never invent. Never use em dashes. Return ONLY JSON: {\"items\":[{\"account\":\"...\",\"insight\":\"...\",\"quote\":\"...\"}]}';\nconst data={account:$json.account,calls:$json.calls,already_flagged:$json.already_flagged,health_context:$json.health_context};\nconst prompt=rules+'\\n\\nACCOUNT DATA:\\n'+JSON.stringify(data);\nreturn {json:{prompt,account:$json.account}};",
    "mode": "runOnceForEachItem"
   },
   "id": "rad_prompt",
   "name": "Build prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    680,
    360
   ]
  },
  {
   "parameters": {
    "promptType": "define",
    "text": "={{ $json.prompt }}",
    "messages": {},
    "batching": {
     "batch": {
      "batchSize": 1,
      "delayBetweenBatches": 45000
     }
    }
   },
   "id": "rad_chain",
   "name": "Read between the lines (Azure)",
   "type": "@n8n/n8n-nodes-langchain.chainLlm",
   "typeVersion": 1.5,
   "position": [
    900,
    360
   ],
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 5000
  },
  {
   "parameters": {
    "model": "gpt-4o-mini",
    "options": {
     "temperature": 0.2
    }
   },
   "id": "rad_model",
   "name": "Azure OpenAI Chat Model",
   "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
   "typeVersion": 1,
   "position": [
    900,
    560
   ],
   "credentials": {
    "azureOpenAiApi": {
     "id": "W7KKkeJLvjngHgZA",
     "name": "Azure Open AI account"
    }
   }
  },
  {
   "parameters": {
    "jsCode": "function parseModelJson(t){\n  const m=String(t||'').match(/\\{[\\s\\S]*\\}/); if(!m){return null;}\n  let s=m[0];\n  try{return JSON.parse(s);}catch(e){}\n  let out='',inStr=false,esc=false;\n  for(const ch of s){\n    if(esc){out+=ch;esc=false;continue;}\n    if(ch==='\\\\'){out+=ch;esc=true;continue;}\n    if(ch==='\"'){inStr=!inStr;out+=ch;continue;}\n    if(inStr&&ch==='\\n'){out+='\\\\n';continue;}\n    if(inStr&&ch==='\\r'){continue;}\n    if(inStr&&ch==='\\t'){out+='\\\\t';continue;}\n    out+=ch;\n  }\n  try{return JSON.parse(out);}catch(e){return null;}\n}\nconst merged=[];\nfor(const it of $input.all()){\n  const raw=(it.json.text||it.json.response||it.json.output||'').toString().trim();\n  const obj=parseModelJson(raw); if(!obj) continue;\n  const items=Array.isArray(obj.items)?obj.items:[];\n  for(const x of items.slice(0,2)){\n    const row={account:String((x&&x.account)||'').slice(0,120),insight:String((x&&x.insight)||'').slice(0,300),quote:String((x&&x.quote)||'').slice(0,220)};\n    if(row.insight){merged.push(row);}\n  }\n}\nconst items=merged.slice(0,8);\nconst e=function(s){return String(s).replace(/'/g,\"''\")};\nconst sql=\"INSERT INTO briefs (audience,period_start,period_end,content) VALUES ('radar', now()::date-7, now()::date, '\"+e(JSON.stringify({items:items}))+\"'::jsonb);\";\nreturn [{json:{sql,found:items.length}}];"
   },
   "id": "rad_save_sql",
   "name": "Build save SQL",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1140,
    360
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "={{ $json.sql }}",
    "options": {}
   },
   "id": "rad_save",
   "name": "Save radar",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1360,
    360
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "content": "## Early radar - potential risks BEFORE they're risks\nMondays 07:55 (+ manual): reads the week's RAW transcripts ONE ACCOUNT AT A TIME (up to 6 accounts x 2 calls x 4.5k chars), with a 45-SECOND pause between model calls and retry on rate limits - sized for a minimal gpt-4o-mini TPM quota. A full run takes ~4-5 minutes; slow is correct. Excludes already-flagged risks; max 2 items per account, 8 total, each with a verbatim evidence quote; empty when nothing genuine.\nStored in `briefs` (audience='radar'); the Leadership 'Potential risks forming' section reads it.\n\nTHE REAL FIX: raise the gpt-4o-mini deployment's tokens-per-minute in Azure OpenAI Studio (Deployments -> edit -> capacity). The current quota is too small for the Monday 07:50/07:52/07:55 generator stack long-term.",
    "height": 250,
    "width": 430
   },
   "id": "rad_note",
   "name": "How it works",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    180,
    20
   ]
  }
 ],
 "connections": {
  "Mondays 07:55": {
   "main": [
    [
     {
      "node": "Gather transcripts",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Run": {
   "main": [
    [
     {
      "node": "Gather transcripts",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Gather transcripts": {
   "main": [
    [
     {
      "node": "Build prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build prompt": {
   "main": [
    [
     {
      "node": "Read between the lines (Azure)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read between the lines (Azure)": {
   "main": [
    [
     {
      "node": "Build save SQL",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build save SQL": {
   "main": [
    [
     {
      "node": "Save radar",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Azure OpenAI Chat Model": {
   "ai_languageModel": [
    [
     {
      "node": "Read between the lines (Azure)",
      "type": "ai_languageModel",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1"
 },
 "pinData": {}
}