n8n/16-slack-report.json
{
 "name": "TN 16 - Slack weekly report",
 "nodes": [
  {
   "id": "sl_sched",
   "name": "Mondays 08:00",
   "type": "n8n-nodes-base.scheduleTrigger",
   "typeVersion": 1.2,
   "position": [
    420,
    300
   ],
   "parameters": {
    "rule": {
     "interval": [
      {
       "field": "cronExpression",
       "expression": "0 8 * * 1"
      }
     ]
    }
   }
  },
  {
   "id": "sl_manual",
   "name": "Run",
   "type": "n8n-nodes-base.manualTrigger",
   "typeVersion": 1,
   "position": [
    420,
    480
   ],
   "parameters": {}
  },
  {
   "id": "sl_gather",
   "name": "Get the week",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    660,
    380
   ],
   "parameters": {
    "operation": "executeQuery",
    "query": "SELECT jsonb_build_object(\n 'brief', (SELECT content FROM briefs WHERE audience = 'leadership' ORDER BY created_at DESC LIMIT 1),\n 'kpis', jsonb_build_object(\n   'calls', (SELECT count(*) FROM calls WHERE call_date > now() - interval '7 days'),\n   'signals', (SELECT count(*) FROM signals WHERE created_at > now() - interval '7 days'),\n   'accounts', (SELECT count(DISTINCT account_id) FROM calls WHERE call_date > now() - interval '7 days' AND account_id IS NOT NULL)),\n 'people', COALESCE((SELECT jsonb_agg(y.j) FROM (\n   SELECT jsonb_build_object('name', n.name, 'calls', count(DISTINCT c.id), 'accounts', count(DISTINCT c.account_id)) AS j\n   FROM calls c CROSS JOIN LATERAL jsonb_object_keys(COALESCE(c.speaker_stats, '{}'::jsonb)) AS n(name)\n   WHERE c.call_date > now() - interval '7 days'\n   GROUP BY n.name ORDER BY count(DISTINCT c.id) DESC LIMIT 4) y), '[]'::jsonb),\n 'by_account', COALESCE((SELECT jsonb_agg(x.j) FROM (\n   SELECT jsonb_build_object('account', a.name, 'type', s.type, 'summary', left(s.summary, 170), 'band', s.details->>'band') AS j\n   FROM signals s JOIN accounts a ON a.id = s.account_id\n   WHERE s.created_at > now() - interval '7 days'\n   ORDER BY a.name, s.created_at DESC LIMIT 60) x), '[]'::jsonb)\n) AS ctx;",
    "options": {}
   },
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "id": "sl_build",
   "name": "Build the Slack message",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    900,
    380
   ],
   "parameters": {
    "jsCode": "// Format the already-generated leadership brief + the week's signals into a\n// clean Slack message. Sub-detail lives in CONTEXT blocks - Slack renders those\n// at ~half size, so the colour dots read as accents, not traffic lights.\n// Deterministic - no model call, always matches the dashboard.\nconst ctx = $json.ctx || {};\nconst brief = ctx.brief || {};\nconst k = ctx.kpis || {};\nconst E = { risk: ':red_circle:', opportunity: ':large_green_circle:', update: ':large_blue_circle:', people: ':large_yellow_circle:' };\n\n// \"Goldsbrough, Marcus (DES OD-...)\" -> \"Marcus Goldsbrough\"\nconst cleanName = (n) => {\n  const noParen = String(n || '').replace(/\\s*\\(.*?\\)\\s*/g, ' ').trim();\n  return noParen.includes(',') ? noParen.split(',').map(x => x.trim()).reverse().join(' ') : noParen;\n};\n\nconst by = {};\nfor (const r of (ctx.by_account || [])) (by[r.account] = by[r.account] || []).push(r);\nconst order = Object.keys(by).sort((a, b) => {\n  const ra = by[a].filter(x => x.type === 'risk').length, rb = by[b].filter(x => x.type === 'risk').length;\n  return rb - ra || by[b].length - by[a].length;\n});\nconst whyBy = {}, actBy = {};\nfor (const a of (brief.accounts || [])) {\n  whyBy[(a.name || '').toLowerCase()] = a.why || '';\n  actBy[(a.name || '').toLowerCase()] = (a.actions || [])[0] || '';\n}\n\nconst wh = String(brief.whats_happening || '');\nconst overview = wh.split('\\n').map(s => s.trim()).filter(l => l && !/^- /.test(l)).join(' ');\nconst points = wh.split('\\n').map(s => s.trim()).filter(l => /^- /.test(l)).map(l => l.slice(2));\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: '\ud83e\udde0 tnAI \u2014 the week in delivery', emoji: true } },\n  { type: 'context', elements: [{ type: 'mrkdwn', text: `${k.calls || 0} calls analysed \u00b7 ${k.signals || 0} signals \u00b7 ${k.accounts || 0} accounts \u00b7 last 7 days` }] },\n];\nif (overview) blocks.push({ type: 'section', text: { type: 'mrkdwn', text: overview.slice(0, 2900) } });\nif (points.length) blocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: points.slice(0, 4).map(p => '\u2022  ' + p).join('\\n').slice(0, 2000) }] });\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'section', text: { type: 'mrkdwn', text: ':bar_chart:  *Account by account*' } });\n\nfor (const acc of order.slice(0, 6)) {\n  const sigs = by[acc];\n  const nR = sigs.filter(x => x.type === 'risk').length, nO = sigs.filter(x => x.type === 'opportunity').length;\n  const rest = sigs.length - nR - nO;\n  const bits = [];\n  if (nR) bits.push(nR + ' risk' + (nR > 1 ? 's' : ''));\n  if (nO) bits.push(nO + ' opportunit' + (nO > 1 ? 'ies' : 'y'));\n  if (rest) bits.push(rest + ' update' + (rest > 1 ? 's' : ''));\n  const lead = nR ? E.risk : nO ? E.opportunity : E.update;\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `${lead}  *${acc}*   \u00b7   ${bits.join(' \u00b7 ')}` } });\n  const sub = [];\n  // the two signals that define the account's week, then its why + the move\n  const picks = [...sigs.filter(x => x.type === 'risk'), ...sigs.filter(x => x.type === 'opportunity'), ...sigs.filter(x => x.type !== 'risk' && x.type !== 'opportunity')].slice(0, 2);\n  for (const s of picks) sub.push(`${E[s.type] || '\u25aa\ufe0f'} ${s.summary}`);\n  const why = whyBy[acc.toLowerCase()];\n  if (why) sub.push(`\u21b3 _${why}_`);\n  const act = actBy[acc.toLowerCase()];\n  if (act) sub.push(`\u2192 *${act}*`);\n  if (sub.length) blocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: sub.join('\\n').slice(0, 2000) }] });\n}\n\nconst people = (ctx.people || []).map(p => ({ ...p, name: cleanName(p.name) })).filter(p => p.name);\nif (people.length) {\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: ':busts_in_silhouette:  *The people*' } });\n  blocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: people.map(p => `*${p.name}*  \u2014  ${p.calls} call${p.calls !== 1 ? 's' : ''} across ${p.accounts} account${p.accounts !== 1 ? 's' : ''}`).join('\\n') }] });\n}\n\nconst needs = brief.needs_you || [];\nif (needs.length) {\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: ':rotating_light:  *Needs you*\\n' + needs.map(n => '\u2022  ' + n).join('\\n') } });\n}\nblocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: '<https://ast.tecknuovo.com|Open the dashboard>  \u00b7  generated by tnAI from this week\\'s calls, weekly reports + HubSpot' }] });\n\nreturn [{ json: { payload: { text: 'tnAI \u2014 the week in delivery', blocks } } }];"
   }
  },
  {
   "id": "sl_note",
   "name": "How it works",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    380,
    40
   ],
   "parameters": {
    "content": "## 16 \u00b7 Slack weekly report\nFormats the ALREADY-GENERATED leadership brief (workflow 13) + this week's signals into a Slack message. No model call - deterministic, rate-limit-proof, always matches the dashboard.\n\n**Setup (one-time, ~5 min) - native Slack node:**\n1. api.slack.com/apps -> Create New App -> From scratch -> name it `tnAI` -> pick the workspace\n2. OAuth & Permissions -> Bot Token Scopes -> add: `chat:write`, `im:write`, `users:read`\n3. Install to Workspace -> copy the **Bot User OAuth Token** (starts `xoxb-`)\n4. In n8n: Credentials -> New -> **Slack API** -> paste the token\n5. Open the **Send to Slack** node -> pick the credential -> in \"Send Message To\" leave **User** and pick yourself from the dropdown\n6. Run once manually to test - the DM arrives from the tnAI app\n\nLater, to post to a leadership channel instead: invite the app to the channel (`/invite @tnAI`), switch \"Send Message To\" to Channel and pick it.\n\nRuns Mondays 08:00 - ten minutes after workflow 13 writes the fresh brief.",
    "height": 400,
    "width": 420
   }
  },
  {
   "id": "sl_send",
   "name": "Send to Slack",
   "type": "n8n-nodes-base.slack",
   "typeVersion": 2.2,
   "position": [
    1140,
    380
   ],
   "parameters": {
    "resource": "message",
    "operation": "post",
    "select": "user",
    "user": {
     "__rl": true,
     "mode": "list",
     "value": "",
     "cachedResultName": "pick yourself after adding the credential"
    },
    "messageType": "block",
    "blocksUi": "={{ JSON.stringify({ blocks: $json.payload.blocks }) }}",
    "text": "={{ $json.payload.text }}",
    "otherOptions": {
     "includeLinkToWorkflow": false
    }
   },
   "retryOnFail": true,
   "maxTries": 3,
   "waitBetweenTries": 5000
  }
 ],
 "connections": {
  "Mondays 08:00": {
   "main": [
    [
     {
      "node": "Get the week",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Run": {
   "main": [
    [
     {
      "node": "Get the week",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Get the week": {
   "main": [
    [
     {
      "node": "Build the Slack message",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build the Slack message": {
   "main": [
    [
     {
      "node": "Send to Slack",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1"
 },
 "pinData": {}
}