n8n/2-reconciliation.json
{
 "name": "TN Brain \u00b7 2 \u00b7 Reconciliation (associates + risk register)",
 "nodes": [
  {
   "parameters": {
    "rule": {
     "interval": [
      {
       "field": "cronExpression",
       "expression": "0 7 * * 1-5"
      }
     ]
    }
   },
   "id": "rec-sched",
   "name": "Every weekday 07:00",
   "type": "n8n-nodes-base.scheduleTrigger",
   "typeVersion": 1.2,
   "position": [
    380,
    300
   ]
  },
  {
   "parameters": {},
   "id": "rec-run",
   "name": "Run",
   "type": "n8n-nodes-base.manualTrigger",
   "typeVersion": 1,
   "position": [
    380,
    460
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "SELECT id, name FROM accounts;",
    "options": {}
   },
   "id": "rec-acc",
   "name": "Read accounts",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    600,
    300
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.monday.com/v2",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "API-Version",
       "value": "2026-04"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "{\"query\":\"query { boards(ids:[1118885420]){ items_page(limit:500){ cursor items { id name column_values(ids:[\\\"role8\\\",\\\"team\\\",\\\"client_name6\\\",\\\"status0\\\"]){ id text } } } } }\"}",
    "options": {}
   },
   "id": "rec-as1",
   "name": "Assoc page 1",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    820,
    300
   ],
   "credentials": {
    "httpHeaderAuth": {
     "id": "yDd9RQMyxouZTh46",
     "name": "Monday API"
    }
   },
   "onError": "continueRegularOutput"
  },
  {
   "parameters": {
    "jsCode": "const j=$('Assoc page 1').first().json||{};const ip=(((j.data||{}).boards||[])[0]||{}).items_page||{};const cur=ip.cursor||null;\nconst q=cur?('query { next_items_page(limit:500, cursor:\"'+cur+'\"){ cursor items { id name group { title } column_values(ids:[\\\"role8\\\",\\\"team\\\",\\\"client_name6\\\",\\\"status0\\\"]){ id text } } } }'):'query { complexity { query } }';\nreturn [{json:{body: JSON.stringify({query:q})}}];"
   },
   "id": "rec-asq2",
   "name": "Next assoc query 2",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1020,
    300
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.monday.com/v2",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "API-Version",
       "value": "2026-04"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ $json.body }}",
    "options": {}
   },
   "id": "rec-as2",
   "name": "Assoc page 2",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1220,
    300
   ],
   "credentials": {
    "httpHeaderAuth": {
     "id": "yDd9RQMyxouZTh46",
     "name": "Monday API"
    }
   },
   "onError": "continueRegularOutput"
  },
  {
   "parameters": {
    "jsCode": "const j=$('Assoc page 2').first().json||{};const ip=(j.data||{}).next_items_page||{};const cur=ip.cursor||null;\nconst q=cur?('query { next_items_page(limit:500, cursor:\"'+cur+'\"){ cursor items { id name group { title } column_values(ids:[\\\"role8\\\",\\\"team\\\",\\\"client_name6\\\",\\\"status0\\\"]){ id text } } } }'):'query { complexity { query } }';\nreturn [{json:{body: JSON.stringify({query:q})}}];"
   },
   "id": "rec-asq3",
   "name": "Next assoc query 3",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1420,
    300
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.monday.com/v2",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "API-Version",
       "value": "2026-04"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ $json.body }}",
    "options": {}
   },
   "id": "rec-as3",
   "name": "Assoc page 3",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1620,
    300
   ],
   "credentials": {
    "httpHeaderAuth": {
     "id": "yDd9RQMyxouZTh46",
     "name": "Monday API"
    }
   },
   "onError": "continueRegularOutput"
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.monday.com/v2",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "API-Version",
       "value": "2026-04"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "{\"query\":\"query { boards(ids:[1583443098]){ items_page(limit:500){ cursor items { id name group { title } column_values { id text column { title } } } } } }\"}",
    "options": {}
   },
   "id": "rec-rk1",
   "name": "Risks page 1",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1820,
    300
   ],
   "credentials": {
    "httpHeaderAuth": {
     "id": "yDd9RQMyxouZTh46",
     "name": "Monday API"
    }
   },
   "onError": "continueRegularOutput"
  },
  {
   "parameters": {
    "jsCode": "const j=$('Risks page 1').first().json||{};const ip=(((j.data||{}).boards||[])[0]||{}).items_page||{};const cur=ip.cursor||null;\nconst q=cur?('query { next_items_page(limit:500, cursor:\"'+cur+'\"){ cursor items { id name group { title } column_values { id text column { title } } } } }'):'query { complexity { query } }';\nreturn [{json:{body: JSON.stringify({query:q})}}];"
   },
   "id": "rec-rkq2",
   "name": "Next risks query 2",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2020,
    300
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.monday.com/v2",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "API-Version",
       "value": "2026-04"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ $json.body }}",
    "options": {}
   },
   "id": "rec-rk2",
   "name": "Risks page 2",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2220,
    300
   ],
   "credentials": {
    "httpHeaderAuth": {
     "id": "yDd9RQMyxouZTh46",
     "name": "Monday API"
    }
   },
   "onError": "continueRegularOutput"
  },
  {
   "parameters": {
    "jsCode": "const org=$('Read accounts').all().map(r=>r.json);\nconst SQ=String.fromCharCode(39);const qq=s=>SQ+String(s).split(SQ).join(SQ+SQ)+SQ;\nconst col=(cv,id)=>{const c=(cv||[]).find(x=>x.id===id);return (c&&c.text)?c.text:null;};\nconst pageItems=(node,first)=>{try{const j=$(node).first().json||{};const d=j.data||{};const ip=first?((((d.boards||[])[0]||{}).items_page)||{}):(d.next_items_page||{});return Array.isArray(ip.items)?ip.items:[];}catch(e){return [];}};\nconst stmts=[];\n// \u2500\u2500 Associates (Assigned Associates 2.2 Live, 1118885420) - ALL pages, so counts are\n// right (the old single 200-item query silently dropped ~80% of the board) \u2500\u2500\nconst asItems=[...pageItems('Assoc page 1',true),...pageItems('Assoc page 2',false),...pageItems('Assoc page 3',false)];\nfor(const it of asItems){const cv=it.column_values||[];const cname=col(cv,'client_name6')||'';const team=col(cv,'team');const placement=col(cv,'status0');\nconst acc=org.find(a=>a.name&&cname.toLowerCase().includes(String(a.name).toLowerCase()));const accId=acc?acc.id:null;\nstmts.push('INSERT INTO associates (monday_item_id,name,account_id,account_name,project_or_programme,placement_status,last_verified) VALUES ('+qq(it.id)+','+qq(it.name)+','+(accId?qq(accId):'NULL')+','+qq(cname)+','+(team?qq(team):'NULL')+','+(placement?qq(placement):'NULL')+',now()) ON CONFLICT (monday_item_id) DO UPDATE SET account_id=EXCLUDED.account_id,account_name=EXCLUDED.account_name,project_or_programme=EXCLUDED.project_or_programme,placement_status=EXCLUDED.placement_status,last_verified=now();');}\n// \u2500\u2500 Risk register (Risks, Issues and Incidents, 1583443098) - columns matched by\n// TITLE fragments (board column ids unknown; unmatched columns land in the run log) \u2500\u2500\nconst rkItems=[...pageItems('Risks page 1',true),...pageItems('Risks page 2',false)];\nconst byTitle=(it,frags)=>{for(const c of (it.column_values||[])){const t=((c.column&&c.column.title)||'').toLowerCase();if(!c.text)continue;for(const f of frags){if(t.includes(f))return c.text;}}return null;};\nconst rkCols=[...new Set(rkItems.flatMap(it=>(it.column_values||[]).map(c=>(c.column&&c.column.title)||'')))].filter(Boolean);\nfor(const it of rkItems){const acct=byTitle(it,['account','client','customer'])||((it.group&&it.group.title)||'');\nconst accRow=org.find(a=>a.name&&acct&&acct.toLowerCase().includes(a.name.toLowerCase()))||org.find(a=>a.name&&a.name.length>=4&&new RegExp('\\\\b'+a.name.replace(/[.*+?^${}()|[\\]\\\\]/g,'\\\\$&')+'\\\\b','i').test(it.name||''))||null;\nconst v=x=>x?qq(x):'NULL';const ageTxt=byTitle(it,['ticket age']);const ageM=ageTxt?String(ageTxt).match(/\\d+/):null;const ageN=ageM?parseInt(ageM[0],10):null;\nstmts.push('INSERT INTO risks (monday_item_id,name,account_id,account_name,project_name,kind,likelihood,severity,impact_level,escalation,status,treatment_plan,responsible,age_days,last_verified) VALUES ('+qq(it.id)+','+qq(it.name||'')+','+(accRow?qq(accRow.id):'NULL')+','+v(acct)+','+v(byTitle(it,['project','sow']))+','+v(byTitle(it,['risk or issue','kind','type']))+','+v(byTitle(it,['likelihood','probability']))+','+v(byTitle(it,['severity']))+','+v(byTitle(it,['impact level']))+','+v(byTitle(it,['escalation']))+','+v(byTitle(it,['status']))+','+v(byTitle(it,['treatment','mitigation','action']))+','+v(byTitle(it,['responsible','owner','assigned']))+','+(ageN==null?'NULL':ageN)+',now()) ON CONFLICT (monday_item_id) DO UPDATE SET name=EXCLUDED.name,account_id=EXCLUDED.account_id,account_name=EXCLUDED.account_name,project_name=EXCLUDED.project_name,kind=EXCLUDED.kind,likelihood=EXCLUDED.likelihood,severity=EXCLUDED.severity,impact_level=EXCLUDED.impact_level,escalation=EXCLUDED.escalation,status=EXCLUDED.status,treatment_plan=EXCLUDED.treatment_plan,responsible=EXCLUDED.responsible,age_days=EXCLUDED.age_days,last_verified=now();');}\nconst sql=stmts.length?stmts.join(' '):'SELECT 1 AS noop;';\nreturn [{json:{sql,associates:asItems.length,risks:rkItems.length,risk_board_columns:rkCols}}];"
   },
   "id": "rec-build",
   "name": "Build reconcile SQL",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2420,
    300
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "{{ $json.sql }}",
    "options": {}
   },
   "id": "rec-apply",
   "name": "Apply",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    2620,
    300
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "INSERT INTO run_logs (workflow,status,detail) VALUES ('2-reconciliation','ok', jsonb_build_object('associates', {{ $('Build reconcile SQL').first().json.associates }}, 'risks', {{ $('Build reconcile SQL').first().json.risks }}));",
    "options": {}
   },
   "id": "rec-log",
   "name": "Run log",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    2820,
    300
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "UPDATE inbox SET status='failed' WHERE status='processing' AND attempts>=5 AND processed_at < now()-interval '1 hour' RETURNING id;",
    "options": {}
   },
   "id": "rec-dead",
   "name": "Fail poisoned inbox rows",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    600,
    460
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  }
 ],
 "connections": {
  "Every weekday 07:00": {
   "main": [
    [
     {
      "node": "Read accounts",
      "type": "main",
      "index": 0
     },
     {
      "node": "Fail poisoned inbox rows",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Run": {
   "main": [
    [
     {
      "node": "Read accounts",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read accounts": {
   "main": [
    [
     {
      "node": "Assoc page 1",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Assoc page 1": {
   "main": [
    [
     {
      "node": "Next assoc query 2",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Next assoc query 2": {
   "main": [
    [
     {
      "node": "Assoc page 2",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Assoc page 2": {
   "main": [
    [
     {
      "node": "Next assoc query 3",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Next assoc query 3": {
   "main": [
    [
     {
      "node": "Assoc page 3",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Assoc page 3": {
   "main": [
    [
     {
      "node": "Risks page 1",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Risks page 1": {
   "main": [
    [
     {
      "node": "Next risks query 2",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Next risks query 2": {
   "main": [
    [
     {
      "node": "Risks page 2",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Risks page 2": {
   "main": [
    [
     {
      "node": "Build reconcile SQL",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build reconcile SQL": {
   "main": [
    [
     {
      "node": "Apply",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Apply": {
   "main": [
    [
     {
      "node": "Run log",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "pinData": {},
 "meta": {
  "templateCredsSetupCompleted": true,
  "instanceId": "c079bda3b47b252bbd53b0a9a784b7bc49f99b65cb844d664842ae1763345827"
 }
}