n8n/3-feedback-summary.json
{
  "name": "TN Brain · 3 · Feedback Summary Builder",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "30 6 * * 1-5" } ] } },
      "id": "sched3",
      "name": "Every weekday 06:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- accounts that have feedback to summarise\nSELECT DISTINCT account_id FROM feedback;",
        "options": {}
      },
      "id": "pg_accts",
      "name": "Accounts with feedback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- all feedback for this account\nSELECT verdict, correct_type, reason FROM feedback WHERE account_id = $1 ORDER BY created_at DESC LIMIT 100;",
        "options": {}
      },
      "id": "pg_fb3",
      "name": "Feedback for account",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst text = rows.map(r => `- was '${r.verdict}', correct '${r.correct_type||''}': ${r.reason||''}`).join('\\n');\nconst system = `Summarise these recurring corrections into 3-5 short bullet guidelines an analyst should remember for this account. Plain text bullets only.`;\nconst payload = { temperature: 0.2, messages: [ { role: 'system', content: system }, { role: 'user', content: text || 'No feedback.' } ] };\nreturn [{ json: { account_id: $('Accounts with feedback').item.json.account_id, payload } }];"
      },
      "id": "code_sum",
      "name": "Build summary prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-RESOURCE.openai.azure.com/openai/deployments/YOUR-DEPLOYMENT/chat/completions?api-version=2024-08-01-preview",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "api-key", "value": "YOUR_AZURE_OPENAI_KEY" }, { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "http_llm3",
      "name": "Azure OpenAI: Summarise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- store precomputed summary (read by the main pipeline)\nUPDATE accounts SET feedback_summary = $2 WHERE id = $1;",
        "options": {}
      },
      "id": "pg_savesum",
      "name": "Save summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Every weekday 06:30": { "main": [[{ "node": "Accounts with feedback", "type": "main", "index": 0 }]] },
    "Accounts with feedback": { "main": [[{ "node": "Feedback for account", "type": "main", "index": 0 }]] },
    "Feedback for account": { "main": [[{ "node": "Build summary prompt", "type": "main", "index": 0 }]] },
    "Build summary prompt": { "main": [[{ "node": "Azure OpenAI: Summarise", "type": "main", "index": 0 }]] },
    "Azure OpenAI: Summarise": { "main": [[{ "node": "Save summary", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "active": false
}
