n8n/4-monday-people-sync.json
{
 "name": "TN Brain \u00b7 4 \u00b7 Monday Org Sync (Live Allocations)",
 "nodes": [
  {
   "parameters": {},
   "id": "psrun",
   "name": "Run",
   "type": "n8n-nodes-base.manualTrigger",
   "typeVersion": 1,
   "position": [
    400,
    300
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "SELECT a.id AS account_id, a.name AS account_name, COALESCE(json_agg(json_build_object('id',p.id,'name',p.name)) FILTER (WHERE p.id IS NOT NULL),'[]'::json) AS projects FROM accounts a LEFT JOIN projects p ON p.account_id=a.id GROUP BY a.id, a.name;",
    "options": {}
   },
   "id": "psorg",
   "name": "Read org",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    600,
    300
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.monday.com/v2",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "API-Version",
       "value": "2026-04"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "{\"query\":\"query { boards(ids:[1599188575]){ items_page(limit:500){ cursor items { name group{ title } column_values { id text column { title } } } } } }\"}",
    "options": {}
   },
   "id": "m4_liveproj",
   "name": "Monday live projects",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    880,
    620
   ],
   "credentials": {
    "httpHeaderAuth": {
     "id": "yDd9RQMyxouZTh46",
     "name": "Monday API"
    }
   },
   "onError": "continueRegularOutput"
  },
  {
   "parameters": {
    "jsCode": "const org=$('Read org').all().map(r=>r.json);\nconst SQ=String.fromCharCode(39);const qq=s=>SQ+String(s).split(SQ).join(SQ+SQ)+SQ;\nconst stmts=[];\n// Live Projects and Allocations (1599188575) - THE org source per the client (21 Jul):\n// Commercial Accountable -> client_director, Commercial Responsible -> client_partner,\n// Delivery Responsible -> delivery lead, Pod -> pod. Both pages.\nconst pageItems=(node,first)=>{try{const j=$(node).first().json||{};const d=j.data||{};const ip=first?((((d.boards||[])[0]||{}).items_page)||{}):(d.next_items_page||{});return Array.isArray(ip.items)?ip.items:[];}catch(e){return [];}};\nconst lpItems=[...pageItems('Monday live projects',true),...pageItems('LA page 2',false)];\nconst colByTitle=(it,frag1,frag2)=>{for(const c of (it.column_values||[])){const t=((c.column&&c.column.title)||'').toLowerCase().replace(/[^a-z]/g,'');if(t.includes(frag1)&&(!frag2||t.includes(frag2))&&c.text)return c.text;}return null;};\nconst firstName=v=>String(v).split(',')[0].trim();\nconst linkPerson=(nm,role,col,accId)=>{const n1=firstName(nm);stmts.push(\"WITH pe AS (INSERT INTO people (name, role, is_internal) SELECT \"+qq(n1)+\", \"+qq(role)+\", true WHERE NOT EXISTS (SELECT 1 FROM people WHERE lower(name)=lower(\"+qq(n1)+\")) RETURNING id) UPDATE accounts SET \"+col+\"=COALESCE((SELECT id FROM pe),(SELECT id FROM people WHERE lower(name)=lower(\"+qq(n1)+\") LIMIT 1)) WHERE id=\"+qq(accId)+\";\");};\nlet lpLinks=0;\nfor(const acc of org){const an=(acc.account_name||'').toLowerCase();if(!an)continue;\nconst it=lpItems.find(x=>{const nm=(x.name||'').toLowerCase();if(!nm)return false;if(nm.includes(an)||an.includes(nm))return true;const paren=nm.match(/\\(([^)]+)\\)/);return !!(paren&&an.includes(paren[1].trim()));});\nif(!it)continue;lpLinks++;\nconst pod=colByTitle(it,'pod');\nconst cd=colByTitle(it,'accountable');\nconst cpR=colByTitle(it,'respons','commer');\nconst dl=colByTitle(it,'respons','delivery');\nif(pod)stmts.push('UPDATE accounts SET pod='+qq(pod)+' WHERE id='+qq(acc.account_id)+';');\nif(cd)linkPerson(cd,'Client Director','client_director',acc.account_id);\nif(cpR)linkPerson(cpR,'Client Partner','client_partner',acc.account_id);\nif(dl)stmts.push('UPDATE accounts SET delivery_lead_name='+qq(firstName(dl))+' WHERE id='+qq(acc.account_id)+';');\n}\nconst sql=stmts.length?stmts.join(' '):'SELECT 1 AS noop;';\nreturn [{json:{sql,statements:stmts.length,lp_links:lpLinks,la_items:lpItems.length}}];"
   },
   "id": "psbuild",
   "name": "Build SQL",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1260,
    300
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "{{ $json.sql }}",
    "options": {}
   },
   "id": "psapply",
   "name": "Apply",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1480,
    300
   ],
   "credentials": {
    "postgres": {
     "id": "tv0yKxg1fyTfyh8x",
     "name": "TN Azure DB"
    }
   }
  },
  {
   "parameters": {
    "rule": {
     "interval": [
      {
       "field": "cronExpression",
       "expression": "10 7 * * 1-5"
      }
     ]
    }
   },
   "id": "sched-wf4-0710",
   "name": "Every weekday 07:10",
   "type": "n8n-nodes-base.scheduleTrigger",
   "typeVersion": 1.2,
   "position": [
    400,
    480
   ]
  },
  {
   "parameters": {
    "jsCode": "const j=$('Monday live projects').first().json||{};const ip=((((j.data||{}).boards||[])[0]||{}).items_page)||{};const cur=ip.cursor||null;\nconst q=cur?('query { next_items_page(limit:500, cursor:\"'+cur+'\"){ cursor items { name group{ title } column_values { id text column { title } } } } }'):'query { complexity { query } }';\nreturn [{json:{body: JSON.stringify({query:q})}}];"
   },
   "id": "m4_lpq2",
   "name": "Next LA query 2",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1000,
    620
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.monday.com/v2",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "API-Version",
       "value": "2026-04"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ $json.body }}",
    "options": {}
   },
   "id": "m4_lp2",
   "name": "LA page 2",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1120,
    620
   ],
   "credentials": {
    "httpHeaderAuth": {
     "id": "yDd9RQMyxouZTh46",
     "name": "Monday API"
    }
   },
   "onError": "continueRegularOutput"
  }
 ],
 "connections": {
  "Run": {
   "main": [
    [
     {
      "node": "Read org",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read org": {
   "main": [
    [
     {
      "node": "Monday live projects",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build SQL": {
   "main": [
    [
     {
      "node": "Apply",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Monday live projects": {
   "main": [
    [
     {
      "node": "Next LA query 2",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Every weekday 07:10": {
   "main": [
    [
     {
      "node": "Read org",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Next LA query 2": {
   "main": [
    [
     {
      "node": "LA page 2",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "LA page 2": {
   "main": [
    [
     {
      "node": "Build SQL",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "pinData": {},
 "meta": {
  "templateCredsSetupCompleted": true,
  "instanceId": "c079bda3b47b252bbd53b0a9a784b7bc49f99b65cb844d664842ae1763345827"
 }
}