n8n/5-watcher.json
{
  "name": "TN Brain · 5 · Watcher (Teams → inbox)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "w_sched",
      "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT graph_user_id, display_name FROM watchlist WHERE active = true;",
        "options": {}
      },
      "id": "w_list",
      "name": "Read watchlist",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "tv0yKxg1fyTfyh8x",
          "name": "TN Azure DB"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/beta/users/{{ $json.graph_user_id }}/onlineMeetings/getAllTranscripts(meetingOrganizerUserId='{{ $json.graph_user_id }}',startDateTime={{ $now.minus({ minutes: 75 }).toUTC().toFormat(\"yyyy-MM-dd'T'HH:mm:ss'Z'\") }},endDateTime={{ $now.toUTC().toFormat(\"yyyy-MM-dd'T'HH:mm:ss'Z'\") }})",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": false,
        "options": {}
      },
      "id": "w_getall",
      "name": "Get transcripts (window)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "QIB3e7FDXq9aL6tW",
          "name": "Microsoft Graph API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "id": "w_split",
      "name": "Each transcript",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $('Read watchlist').item.json.graph_user_id }}/onlineMeetings/{{ $json.meetingId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "id": "w_meet",
      "name": "Get meeting subject",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        300
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "QIB3e7FDXq9aL6tW",
          "name": "Microsoft Graph API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/beta/users/{{ $('Read watchlist').item.json.graph_user_id }}/onlineMeetings/{{ $('Each transcript').item.json.meetingId }}/transcripts/{{ $('Each transcript').item.json.id }}/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$format",
              "value": "text/vtt"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "w_content",
      "name": "Get transcript content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        300
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "QIB3e7FDXq9aL6tW",
          "name": "Microsoft Graph API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function vttToText(v){\n  if(!v) return '';\n  const turns=[]; let cur=null; let inCue=false;\n  for(const raw of String(v).split(/\\r?\\n/)){\n    const l=raw.trim();\n    if(!l){ inCue=false; continue; }\n    if(/-->/.test(l)){ inCue=true; continue; }   // timestamp: cue payload follows\n    if(!inCue) continue;                          // WEBVTT header / cue id / NOTE -> skip\n    const m=l.match(/^<v\\s+([^>]+)>([\\s\\S]*)$/i);\n    if(m){\n      const speaker=m[1].trim();\n      const text=m[2].replace(/<\\/v>/ig,'').replace(/<[^>]+>/g,'').trim();\n      if(cur && cur.speaker===speaker){ cur.text += ' ' + text; }\n      else { cur={speaker,text}; turns.push(cur); }\n    } else {\n      const text=l.replace(/<[^>]+>/g,'').trim();\n      if(!text) continue;\n      if(cur){ cur.text += ' ' + text; } else { cur={speaker:'',text}; turns.push(cur); }\n    }\n  }\n  return turns.map(t => (t.speaker?t.speaker+': ':'')+t.text.replace(/\\s+/g,' ').trim()).filter(Boolean).join('\\n');\n}\nconst e = s => String(s==null?'':s).replace(/'/g,\"''\");\nconst tid     = ($('Each transcript').item.json.id) || '';\nconst subject = ($('Get meeting subject').item.json.subject) || '';\nconst text    = vttToText($('Get transcript content').item.json.data || $('Get transcript content').item.json.body || '');\nconst sql =\n  \"INSERT INTO inbox (source, dedup_key, payload, status) \" +\n  \"SELECT 'teams', '\" + e(tid) + \"', jsonb_build_object(\" +\n    \"'account', COALESCE((SELECT name FROM accounts WHERE '\" + e(subject) + \"' ILIKE '%'||name||'%' ORDER BY length(name) DESC LIMIT 1), 'UNKNOWN'),\" +\n    \"'title', '\" + e(subject) + \"',\" +\n    \"'dedup_key', '\" + e(tid) + \"',\" +\n    \"'transcript', '\" + e(text) + \"'\" +\n  \"), 'pending' \" +\n  \"WHERE '\" + e(text) + \"' <> '' \" +\n  \"ON CONFLICT (dedup_key) DO NOTHING RETURNING id;\";\nreturn { json: { sql, transcript_id: tid, subject, chars: text.length } };"
      },
      "id": "w_build",
      "name": "Build inbox insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "w_insert",
      "name": "Insert to inbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1660,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "tv0yKxg1fyTfyh8x",
          "name": "TN Azure DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "w_isnew",
      "name": "New call? (insert returned id)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "",
          "cachedResultName": "TN Brain · 1 · Main Pipeline (inbox-driven)"
        },
        "options": {}
      },
      "id": "w_trigger",
      "name": "Trigger pipeline (per new call)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2140,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Watcher — Teams transcripts → inbox\nEvery 30 min: read the watchlist (allow-listed people) → pull each person's transcripts from the **last 75 min** (2.5× the interval: each transcript gets 2–3 sweeps, so one failed sweep or a late-arriving transcript is never missed; dedup on transcript id makes the overlap free) → one inbox row per transcript → fire the Main Pipeline once per **NEW** row only (the IF gate checks the insert returned an id — duplicates return nothing).\n\n**Multiple calls in one sweep:** the split fans out per transcript and the Code node runs once PER ITEM, so 3 new calls → 3 inbox rows → 3 pipeline runs, each claiming its own row (FOR UPDATE SKIP LOCKED). Transcripts never mix. The pipeline's 5-min safety sweep catches any leftovers.",
        "height": 260,
        "width": 420
      },
      "id": "w_note1",
      "name": "How it works",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -20
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ After importing — 2 clicks\n1. **'Trigger pipeline (per new call)'** → open it and SELECT 'TN Brain · 1 · Main Pipeline' from the list (workflow ids are instance-specific, so the import leaves it blank).\n2. Confirm the 3 HTTP nodes picked up the 'Microsoft Graph API' credential and the 2 Postgres nodes picked up 'TN Azure DB'.\n\n**Window:** last 75 min per sweep (30-min schedule × 2.5 safety overlap). If n8n is ever down for more than ~45 min, run the watcher once manually with a wider window (edit `minutes: 75` in the URL) to backfill, then set it back.",
        "height": 300,
        "width": 460
      },
      "id": "w_note2",
      "name": "Setup checklist",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        -60
      ]
    }
  ],
  "connections": {
    "Every 30 min": {
      "main": [
        [
          {
            "node": "Read watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read watchlist": {
      "main": [
        [
          {
            "node": "Get transcripts (window)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transcripts (window)": {
      "main": [
        [
          {
            "node": "Each transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Each transcript": {
      "main": [
        [
          {
            "node": "Get meeting subject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get meeting subject": {
      "main": [
        [
          {
            "node": "Get transcript content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transcript content": {
      "main": [
        [
          {
            "node": "Build inbox insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build inbox insert": {
      "main": [
        [
          {
            "node": "Insert to inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to inbox": {
      "main": [
        [
          {
            "node": "New call? (insert returned id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New call? (insert returned id)": {
      "main": [
        [
          {
            "node": "Trigger pipeline (per new call)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}