n8n/7b-weekly-reports-finder.json
{
  "name": "7b — Find weekly reports (search every site's library)",
  "nodes": [
    {
      "parameters": {},
      "id": "wr_run",
      "name": "Run now",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/sites",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "search", "value": "*" },
            { "name": "$select", "value": "id,displayName,webUrl" },
            { "name": "$top", "value": "200" }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body[\"@odata.nextLink\"] }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body[\"@odata.nextLink\"] }}",
              "limitPagesFetched": true,
              "maxRequests": 10
            }
          }
        }
      },
      "id": "wr_sites",
      "name": "1. All sites (paginated)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "credentials": {
        "oAuth2Api": {
          "id": "ieNwdcRlBlCL0EM0",
          "name": "SharePoint API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Flatten all pages and keep only real team sites (drop the contentstorage/Designer noise).\nconst sites=[];\nfor(const it of $input.all()){\n  for(const s of (it.json.value||[])){\n    if((s.webUrl||'').includes('/sites/')) sites.push({id:s.id, displayName:s.displayName, webUrl:s.webUrl});\n  }\n}\nreturn sites.map(s=>({json:s}));"
      },
      "id": "wr_filter",
      "name": "2. Real sites only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/sites/{{ $json.id }}/drive/root/search(q='weekly')",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "$select", "value": "name,webUrl,lastModifiedDateTime,parentReference" },
            { "name": "$top", "value": "25" }
          ]
        },
        "options": {}
      },
      "id": "wr_search",
      "name": "3. Search site library for 'weekly'",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "credentials": {
        "oAuth2Api": {
          "id": "ieNwdcRlBlCL0EM0",
          "name": "SharePoint API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// One flat list: every file matching the search, tagged with its site, newest first.\nconst sites=$('2. Real sites only').all().map(i=>i.json);\nconst hits=[];\n$input.all().forEach((it,idx)=>{\n  const s=sites[idx]||{};\n  const vals=(it.json&&it.json.value)||[];\n  for(const f of vals){\n    hits.push({\n      site:s.displayName||'',\n      file:f.name||'',\n      folder:((f.parentReference&&f.parentReference.path)||'').replace(/^\\/drives\\/[^/]+\\/root:?/,''),\n      modified:(f.lastModifiedDateTime||'').slice(0,10),\n      fileUrl:f.webUrl||'',\n      siteId:s.id||''\n    });\n  }\n});\nhits.sort((a,b)=>String(b.modified).localeCompare(String(a.modified)));\nreturn hits.length?hits.map(h=>({json:h})):[{json:{note:\"No files matching 'weekly' found — edit the q= in node 3 (e.g. 'report', 'status') and rerun.\"}}];"
      },
      "id": "wr_collect",
      "name": "4. All hits (newest first)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "content": "## Find the weekly reports\nRun it (takes a minute or two — it searches every team site's document library for files matching **'weekly'**).\n\nNode 4 gives one flat list: site · file name · folder · last modified · link. Copy the rows that are the real weekly delivery reports and send them to BraindAI — the ingest workflow (poll folder → pull content → attach to account context) gets built against exactly those folders.\n\nNo hits / wrong hits? Change `q='weekly'` in node 3 to e.g. `q='report'` and rerun.",
        "height": 280,
        "width": 460
      },
      "id": "wr_note",
      "name": "How to use",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -40]
    }
  ],
  "connections": {
    "Run now": {
      "main": [[{ "node": "1. All sites (paginated)", "type": "main", "index": 0 }]]
    },
    "1. All sites (paginated)": {
      "main": [[{ "node": "2. Real sites only", "type": "main", "index": 0 }]]
    },
    "2. Real sites only": {
      "main": [[{ "node": "3. Search site library for 'weekly'", "type": "main", "index": 0 }]]
    },
    "3. Search site library for 'weekly'": {
      "main": [[{ "node": "4. All hits (newest first)", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
